
.newsletter_block 
{
    h3
    {
        margin-bottom:46px;
        font-size: 35px;
        font-weight: $font-weight-normal;
        
          @include breakpoint(desktop) 
                {
                    margin-bottom:25px;
                    font-size: 25px;
                }
    }
}
.newsletter_bx
{
    max-width: 600px;
    position: relative;
    display: inline-block;
    width: 100%;
    
    .form-control
    { 
        border-radius: 50px;
        height: 60px;
        padding: 6px 40px; 
        padding-right: 40px; 
        padding-right: 210px;
        
        @include breakpoint(desktop) 
            {
              height:50px;
            }
        
        &:focus
        { 
            border-color: $color-light;
        }
    }
     
    .btn
        {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;           
        }
}

footer
{
    position: relative;
    &.section
    {
        padding-bottom: 0;
    }
    &:after
    {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom:0;
        right: 0;
        background-color:rgba($color-lightest,0.9);  
    }
    .container
    {
        position: relative;
        z-index: 9;
    }
   .footer_middle {

    padding: 90px 0 30px;
       
         @include breakpoint(desktop) 
            {
              padding: 70px 0 20px;
            }

    }
    .footer__inner 
    {
        h3 
        {
           font-size:22px; 
           font-weight:$font-weight-normal;
            margin-bottom: 24px;
            
            @include breakpoint(desktop) 
            {
                font-size: 18px;
                margin-bottom: 20px;
            }
        }
        
        ul
        {
            li
            {
                font-size:16px;
                font-weight:$font-weight-normal;
                margin-bottom: 15px;
              
                   @include breakpoint(desktop) 
                    {
                     font-size: 14px;
                        margin-bottom: 10px;
                    } 
                
                &:last-child
                {
                    margin-bottom: 0;
                }
                
                a
                {
                    &:hover
                    {
                        color: $color-primary;
                    }
                }
            }
        }
        p
        {
           @include breakpoint(desktop) 
            {
             font-size: 14px;
            } 
        }
    }
}
.footer__about
{
        display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
    .footerlogo 
    {
        img
        {
            max-width: 100px;
            
            @include breakpoint(desktop) 
                {
                    max-width: 70px;
                }
            
        }
    }
    .footer_about_content
    {
        margin-left: 35px;
        padding-right: 8%;
        
        @include breakpoint(desktop) 
                {
                    margin-left: 25px;
                }
    }
}

.footer__links
{
    ul
    {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        margin-right: -4px;
    }
}

.footer__contact
{
        display: flex;
        align-content: flex-start;
        justify-content: space-between;
        
            .footer__contact__left
            {
                max-width: 60%;
                width: 100%;
            }
            .footer__contact__right
            {
                max-width: 40%;
                width: 100%;
            }
    .contact_list
    {
        li
        {
            position: relative; 
            padding-left:30px;
            margin-top: -8px;
            margin-bottom: 22px;
            
          @include breakpoint(desktop)     
            {
                padding-left: 30px;
                 margin-top: 0; 
                margin-bottom: 12px;
            }
            
            &:first-child
            {
                span
                {
                    top: 4px;
                }
            }
            
             &:nth-child(2)
            {
                span
                {
                   @include breakpoint(desktop)     
                        {
                           top: 2px;
                        }
                }
            }
                span
                {
                  position: absolute;
                    width: 18px;
                    left:0;
                    top: 2px;
                    text-align: center;
                    color: $color-primary;
                    
                    @include breakpoint(desktop)     
                        {
                           top: 0px;
                        }
                    
                    .fa
                    {
                        &.fa-map-marker
                        {
                            font-size: 20px;
                        }
                         &.fa-envelope
                        {
                            font-size: 16px;
                        }
                         &.fa-mobile
                        {
                            font-size: 26px;
                        }
                    }
            }
        }
    }
    .sm-icon_list
    {
        display: flex;
        align-items: center;
        
        li
        {
            margin-right: 10px;
            margin-bottom: 0;
            
            &:last-child
            {
                margin-right: 0;
            }
            a
            {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 45px;
                height: 32px;
               @include border-radius(50px);
                 font-size: 18px;
                &:hover,
                &:focus
                {
                   color: $color-white;
                 }
            }
        }
    }

}

.copyright__block
{
    padding:30px 0;
    
      @include breakpoint(desktop)     
        {
             padding:20px 0;
        }
    p
    {
        font-size: 14px;
    }
}