header
{
        padding:12px 0;
        -webkit-transition:all ease-in-out 0.5s; 
        -moz-transition:all ease-in-out 0.5s; 
        transition:all ease-in-out 0.5s; 
        position: fixed;
        top: 0;
        left:0;
        right: 0;
        background-color: rgba(#fff, 1);
        z-index: 99; 
    
    &.sticky
    {
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
        
        .header__top    
        { 
            transform: translateY(100%);
            height: 0;
            opacity: 0; 
        }
    }
    .header__top    
    {
         -webkit-transition:all ease-in-out 0.5s; 
         -moz-transition:all ease-in-out 0.5s; 
         transition:all ease-in-out 0.5s; 
        opacity: 1;
        
        .container
        { 
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 20px;
             
           @include breakpoint(desktop) 
                {
                     margin-bottom: 10px;
                }
        }
    }
    
    
    .navbar-expand-md 
    {
        .navbar-brand
        {
            @include breakpoint(desktop)
             {
               max-width: 80px;
            }
        }
       .navbar-collapse
        {
            justify-content: flex-end;
        }
    }
    
    .navbar-nav
    {
        li
        {
            margin-right: 44px;
            padding: 0; 
            
              @include breakpoint(desktop)
                {
                   margin-right: 34px;
                }
            a
            {
                &.nav-link
                {
                    font-size:18px;
                    font-weight: $font-weight-medium;
                    padding: 0 !important;
                    position: relative;
                    
                     @include breakpoint(desktop)
                        {
                           font-size:14px;
                        }
                    
                    &:after
                    {
                        content:'';
                        display: block;
                        width: 26px; 
                        height: 2px;
                        background-color: $color-blue;
                        position: absolute;
                        left: 0;
                        bottom: -10px;
                        transition:all ease-in-out 0.2s; 
                        -webkit-transform:translateY(10px);
                        -moz-transform:translateY(10px);
                        transform:translateY(10px);
                        opacity: 0;
                    }
                    
                    &:hover
                    {
                        &:after
                        {
                        -webkit-transform:translateY(0);
                        -moz-transform:translateY(0);
                        transform:translateY(0);
                        opacity: 1;
                        }
                    }
                }
            }
            
            &.active
            {
                a
                {
                    &.nav-link
                    {
                       &:after
                        {
                        -webkit-transform:translateY(0);
                        -moz-transform:translateY(0);
                        transform:translateY(0);
                        opacity: 1;
                        }

                    }
                }  
            }
        }
    }
    
}

.sm_icon
{
    ul
    {
    display: flex; 
    align-items: center; 
    justify-content: flex-end;
        
        li
        {
            margin-right: 25px;

                 @include breakpoint(desktop)
                    {
                         margin-right: 15px;
                    }
            
            &:last-child
            {
                margin-right: 0;
            }
        }
    }
}
.select_country
{
    margin-left: 32px;
    
  @include breakpoint(desktop)
    {
         margin-left: 25px;
    }
    .btn
    {
        padding: 2px 10px 0;
        background-color: transparent; 
        border: 1px solid #ccc;
        
        .filter-option
        {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            
            .flag-icon
            {
                margin-right:5px;
                width: 20px;
                height: 20px;
                @include border-radius(100%);
                background-size: cover;
                top: -2px;
            }
        }
    }
    .dropdown-menu.open
    { 
        padding: 0;
        border: 0;
        right: 0;
        left: auto !important;
        &.show
        {
           overflow: visible !important;
        }
    .dropdown-menu.inner
    {
        display: block;
        padding: 0; 
        font-size: 14px;
        
        li
        {
            border-bottom: 1px solid #ccc;
            
            a
            {
                display: block;
                cursor: pointer;
                 padding: 5px 10px;
                
                &:hover
                {
                    background-color: #f9f7f9;
                }
            }
            
            &:last-child
            {
                border-bottom: 0;
            }
        }
    }
    }

}

.sign__buton_outr
{
    ul 
    { 
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        
        li 
        {
            margin-right: 12px;
            &:last-child  
            {
                margin-right: 0;
            }
            
            a
            {
                font-size: 16px;
                line-height: 2;
                
             @include breakpoint(desktop) 
                    {
                        font-size: 14px;
                        line-height: 2.5;  
                    }
            }
        }
    }
}

