.bg_grey
{
    background-color: $color-grey;
}

.borders
{
    border-color: $color-border-color;
    border-style: solid;
    
    &.b_1
    {
        border-width: 1px;
    }
    &.b_2
    {
        border-width: 2px;
    }
    &.b_3
    {
        border-width: 3px;
    }
    &.bb_1
    {
        border-bottom-width: 1px;
    }
     &.bb_2
    {
        border-bottom-width: 2px;
    }
     &.bb_3 
    {
        border-bottom-width: 3px; 
    }
}

.bg_transparent_blue
{
    background-color: transparent;
    
        &:hover,
        &:focus
        {
             background-color:$color-primary;
             border-color:$color-primary;
             color: $color-white;
        }
}
.bg_transparent_green
{
    background-color: transparent;

        &:hover,
        &:focus
        {
            background-color:$color-secondary;
            border-color:$color-secondary;
            color: $color-white;
        }
}
.bg_transparent_orange
{
    background-color: transparent;
        &:hover,
        &:focus
        {
             background-color:$color-light;
             border-color:$color-light;
            color: $color-white;
        }
}

article
{
    padding:40px 0;
    
      @include breakpoint(desktop)  
            {
                   padding:20px 0;
            }
    
    &:first-child 
    {
        padding-top: 0;
    }
    &:last-child
    {
        padding-bottom: 0;
    }
}
.article_row
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
article,
.article
{
    h3
    {
        font-size: 45px;
        font-weight: $font-weight-normal;
        margin-bottom: 40px;
        
          @include breakpoint(desktop) 
            {
                 font-size: 30px;
                margin-bottom: 20px;
            }
        
        &:after
        {
            content:'';
            width: 50px;
            height: 3px;
            background-color:$color-blue;
            display: block;
            margin-top: 20px;
            
            @include breakpoint(desktop) 
            {
                 margin-top: 10px;
                  width: 40px;
            }
        }
        
    }
    
    p
    {
        line-height: 1.8;
        margin-bottom: 20px;
    }
    
    .btn
    {
        margin-top: 30px;
        
         @include breakpoint(desktop) 
            {
                margin-top: 10px;
            }
    }
    
    .artile_figure__block
    {
        figure
        {width: 100%;display: inline-block;}
    }
}

.article_heading_blue
{
    h3
    {
        color: $color-primary;
    }
}

.article__block_main 
{
    article
    {
        align-items: center;
        
        &:nth-child(odd)
        { 
            .artile_content_block    
            {
                padding-left: 10%;
            }
        }
         &:nth-child(even)
        {
            .artile_figure__block
            {
                display: flex;
                justify-content: flex-end;
            }
            .artile_content_block 
            {
                padding-left: 0; 
                order: -1;
            }
        }
    }
}
