.transform
{
    .transform_inn
    {
        display: flex;
        justify-content: space-between;
    }
    .transform_left
    {
        max-width: 650px;
        width: 100%;
        padding-right: 5%;
        
        h1
        {
            font-size: 60px;
            line-height: 1.4;
            margin-bottom: 25px;
            
             @include breakpoint(desktop)  
                {
                    font-size: 40px;
                    line-height: 1.2;
                }
             
            strong
            {
                font-weight:$font-weight-bold;
            }
        }
        .sign__buton_outr
        {
            margin-top:45px; 
            
             @include breakpoint(desktop) 
                {
                   margin-top:35px; 
                }
            ul
            {
                justify-content: flex-start;
                
                li
                {
                    margin-right: 26px;
                    a
                    {
                        line-height: 2.8;
                        font-size: 18px;
                        
                        @include breakpoint(desktop) 
                            {
                                font-size: 15px; 
                            }
                    }
                }
            }
        }
    }
    .transform_right
    {
        max-width: 650px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        
        figure
        {
            @include bg-cover;
            max-width: 628px;
            width: 100%;
        } 
        
        .slide-in-demo {
    position: absolute;
    top: 15%;
    width: 100%;
    left: 0;
    text-align: center;
    font-size: 4em;
}
    }
}
.trnsform__banner
{
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.52);
        @include border-radius(10px); 
    
    img
    { @include border-radius(10px);}
}

.article_sub_bx
{
    max-width: 50%;
    width: 100%;
}
.solution__block 
{
    .article_row
     {  
       align-items: flex-start;   
         
          @include breakpoint(desktop) 
            {
                align-items: center;   
            }
      }
    
.solution_right  
{
    padding-left: 6%;
}
}

/*geeting start section csss*/
.getting_start_manatal
{
    background-color: $color-primary;
    padding-bottom: 0;
         
        h2
        {
            color:$color-white;
            margin-bottom: 65px;
            font-weight: $font-weight-medium;
            
               &:after 
                {
                    content: '';
                   background-color: $color-white;
                }
            }
}

.service__block
{
    ul
    {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
         flex-wrap: wrap;
        li
        {
            width: 15%;
            margin-right: 1.5%;
            margin-bottom: 80px;
            
            &:nth-child(6n + 6)
            {
               margin-right: 0;    
            }
        }
      
    }
}

.manatal__figure_title
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &:hover
    {
        figure
        {
            -webkit-animation:scale-x 2s infinite; 
            animation:scale-x 2s infinite;
            
            &:before 
            {
                -webkit-transform: scale(1);
                -moz-transform:scale(1);
                transform: scale(1);
            }
        }
    }
    
    figure
        { 
            margin-bottom: 40px;
            min-height: 82px;
            max-width: 100px;
            height: 100px;
            display: flex;
            align-items: center; 
            justify-content: center;
            width: 100%;
            position: relative;
            overflow: hidden;
            
             @include breakpoint(desktop)
                {
                   margin-bottom: 20px;
                    min-height: 52px;
                }
            &:before
            {
                content:'';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                 background-color: rgba(255, 255, 255, 0.2);
                -webkit-transform: scale(0);
                -moz-transform:scale(0);
                transform: scale(0);
                @include border-radius(100%);
                @include transition;
            }
            
            img
            {
              /*  margin: auto;
                display: block;*/
                 max-width: 50%;
              @include breakpoint(desktop)
                {
                  max-width: 40%;
                }
            }
        } 
    h3
    {
        font-size:17px;
        font-weight:$font-weight-normal;
        
         @include breakpoint(desktop)
            {
              font-size:15px;
            }
        a
        {
            color: $color-white;
            -webkit-animation:  2s infinite; 
            animation:  2s infinite;
            display: inline-block;
            &:hover
            {
                -webkit-animation-name: bounce-x;
                animation-name: bounce-x;
                
            }
        }
    }
}
.manatal_partner
{
    padding-bottom: 0;
    h2
    {
        margin-bottom: 48px;
    }
}
.manatal_partner_inn
{
    ul
    {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        
        li
        {
            width: 33.3%;
            text-align: center;
            margin-bottom: 33px;
            
            img
            {
                  @include breakpoint(desktop)
                    {
                      max-width: 120px;
                    }
            }
        }
    }
}

.testimonies_slider
{
    .owl-item
    {
        opacity: 0.4;
       &.active.center
        {
            opacity: 1;
            
            .auther_block
                {
                     background-image: url(../images/comma_blue.png);
                }
        }
    }
    .item
    {
        padding: 20px;
    } 
}

.testimnal_block
{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
    @include border-radius(20px);
    padding:40px;
    
    .auther_block
    {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 25px;
        background-image: url(../images/comma_light.png);
        background-size: 42px 32px;
        background-position: 99% 50%;
        background-repeat: no-repeat;
        
    figure
    {
        width: 74px;
        height: 74px;
        @include border-radius(100%);
        @include bg-cover;
        margin: 0 20px 0 0px;
    }
    
    h3
    {
        font-size: 18px;
        color: #42495d;
        margin-bottom: 10px;
        font-weight: $font-weight-medium;
    }
    h4
    {
        font-size:15px;
        color: #74777f;
        font-weight: $font-weight-light;
    }
}
}